body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-image:url(Back.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

p {
  margin: 5px;
  text-indent: 20px;
}

#content {
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  width: 80%;
  display: block;
  margin: auto;
  padding: 30px;
}

a {
  color: black;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
}

.operator
{
  color: #087AC8;
  font-weight: bold;
}

#szam
{
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

p
{
  text-align: justify;
  text-indent: 0em;
  line-height: 120%;
}

table
{
  border: 1px solid gray;
  text-align: center
}

td
{
  padding: 5px;
  border: 1px solid gray;
}

th
{
  color: white;
  background-color: #087AC8;
}

a
{
  text-decoration: none;
}

a:hover
{
  color: red;
}